.recharts-wrapper {
  overflow: visible;
}

.recharts-surface {
  overflow: visible;
}

.spline-container {
  overflow: visible;
}

.spline-container canvas {
  border-width: 0 !important;
  overflow: visible;
}
